@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="#">building Web apps with ASP.NET Core</a>.</p>

    <p>View our <a href="@Url.Action("Index", "Customer")">Customers</a>.</p>
</div>
